.search-locations:focus{
	outline: 5px solid red;
}

.search-locations:hover{
	outline: 5px solid darkgrey;
}

li:hover, li:focus, li:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
	color: red;
}

#container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
}
#map {
  height: 100%;
  right: 0;
  position: relative;
  overflow: hidden;
}
.infoWindow{
  width: 150px;
}
.listView {
  height: 100%;
  width: 20%;
  background-color: white;
  position: absolute;
  left: 0;
  padding: 0 15px;
  border-radius: 0 10px 10px 0;
}
.search-locations{
	min-height: 28px;
	width: 90%;
	border:2px solid red;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
}
li {
  font-size: 15px;
  padding-bottom: 10px;
	padding-right: 10px;
}
.nav {
  height: 30px;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
}
#subject {
  text-shadow: 2px 2px #FF0000;
}

@media screen and (max-width: 860px) {
	li {
		font-size: 10px;
	}

}

@media screen and (max-width: 450px) {
	li {
		font-size: 7px;
	}
	ul {
		padding-left: 10px;
	}
}
